h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html {
    box-sizing: border-box; 
}
  
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #212b36;
    line-height: 1.5;
    letter-spacing: 0.4px;
    background-color: #F4F6F8;
}

body {
    margin: 0;
}

a:active, a:hover {
    outline-width: 0;
}

.contact{
    padding: 0 30px 0 30px;
    height: 100vh;
    overflow: scroll;

    
    
}


.donation__section__left__header {
    margin-top: 50px;
    color: #f4f6f8;
    font-size: 2.5em;
}


.donation__section__left__description {
    margin-top: 30px;
    width: 500px;
    line-height: normal;
    font-size: 20px;
}

.contact .donation-form {
    width: 360px;
    max-width: 100%;
}

.contact .donation-form .radio-group {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__item--marginBottom-12 {
    margin-bottom: 12px;
}

.form__item {
    margin-bottom: 20px;
}

@media (max-width: 480px){

    .contact .donation-form .radio-group .radio-box-group--left {
        font-size: 12px;
    }
}

.contact .donation-form .radio-group .radio-box-group--left {
    position: relative;
}


.contact .donation-form .radio-group input[type="radio"] {
    z-index: 100;
    display: none;
}

.contact .donation-form .radio-group input[type="radio"]:checked + label {
    background: #ffffff;
    color: #12122c;
}

@media (max-width: 480px){

    .contact .donation-form .radio-group label {
        display: block;
        text-align: center;
        padding: 5px 20px;
        font-size: 10px;
    }

}

.contact .donation-form .radio-group label {
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid #f4f6f8;
    font-weight: 600;
    color: #fff;
}



@media (max-width: 991px){
    .contact .donation-form {
        width: 360px;
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 480px){
    .donation .donation-form .radio-group .radio-box-group--right {
        font-size: 12px;
    }
}

.donation .donation-form .radio-group .radio-box-group--right {
    position: relative;
}

span.phone{
    /* float: right;
    padding: 2em; */
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 50px;

    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.contact_top {
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 50px;
}

@media (max-width: 991px){

    .contact_top_left a {
        font-size: 10px;
    }

}

.contact_top_left a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.contact__top {
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 50px;
}



@media (max-width: 991px){
    .contact__top {
        padding: 15px 0;
    }
}



.contact_top_right{
    margin-left: auto;
}

.contact_top_right a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

@media (max-width: 991px){
    .contact__top__right a {
        font-size: 10px;
    }
}



@media (max-width: 991px){
    span.phone {
        padding: 15px 0;
        font-size: 10px;
    }
}





.wrapper{
    background-image: linear-gradient(rgba(18, 18, 44, 0.8), rgba(18, 18, 44, 0.8)), ;
}

@media (max-width: 480px){

    .wrapper {
        overflow: scroll;
    }

}

.wrapper{
    position: relative;
    background-size: cover;
    height: calc(100vh - 90px);
}


.form_bottom{
    position: relative;
    /* background: url(/static/img/donation-bg@3x.png) center no-repeat; */
    background-size: cover;
    height: calc(100vh - 90px);
}

.form__input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: inherit;
    font-family: inherit;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    outline: none;
    resize: none;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgb(22 29 37 / 5%);
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
}

.contact .donation-form .form__inner {
    background-color: white;
    padding: 20px;
}

.textCenter {
    text-align: center;
}

.form__item--noBottomMargin {
    margin-bottom: 0;
}

.newObject {
    display: flex;
}

.newObject__select {
    width: 30%;
}

.select {
    position: relative;
}

.contact .donation-form .form__inner .select__input {
    color: #212b36;
}

.select__input:disabled {
    background-color: #f4f7fc;
    color: #637381;
}

.select__input--noRightBorderRadius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select__icon {
    position: absolute;
    right: 11px;
    top: 8px;
    pointer-events: none;
    padding-left: 3px;
    background-color: #ffffff;
}

svg:not(:root) {
    overflow: hidden;
}

.newObject__input {
    width: 70%;
}



.form__input[readonly] {
    background-color: #f4f7fc;
    color: #637381;
}

.form__input--noLeftBorderRadius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
/*     padding: 16px 12px; */
    font-size: 14px;
    line-height: 1.43;
    color: inherit;
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #c4cdd5;
    border-radius: 4px;
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgb(22 29 37 / 5%);
    transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
}

.donation__section__right__badge {
    margin: 40px auto;
    display: flex;
}

.secured__badge {
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secured__badge__container {
    display: flex;
    border-radius: 3px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.secured__badge__icon {
    padding-right: 5px;
}

.secured__badge__text {
    color: #f5a623;
    font-weight: 600;
    font-size: 10px;
}

.donation__section {
    display: flex;
    height: calc(100vh - 90px);
}

@media (max-width: 991px){

    .donation__section__left {
        display: none;
    }

}



.donation__section__left {
    width: 60%;
    padding: 50px 100px;
    color: #ffffff;
}

.donation__section__right {
    width: 40%;
    padding: 80px 30px;
}

@media (max-width: 991px){

    .donation__section__right {
        width: 100%;
        padding: 20px 20px;
    }

}

.text-uppercase {
    text-transform: uppercase;
}

.btn {
    color: inherit;
    display: inline-block;
    font-weight: 600;
    line-height: 1.71;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    outline: none;
    box-shadow: 1px 1px 3px 0 rgb(50 50 54 / 13%), 0 0 3px 1px rgb(63 63 68 / 5%);
} 

.btn--pay {
    padding: 8px 32px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--primary {
    color: #fff;
    background-color: #F5A623;
}



button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

@media screen and (max-width: 767px){

    .hidden--xs {
        display: none !important;
    }
}


@media screen and (min-width: 768px){

    .show--xs {
        display: none !important;
    }
}




